// ============= VARS ==========
$base: 4px;
$border-radius: $base * 2;
$blue: #4255a2;
$orange: #e6712c;

$small-breakpoint: 1024px;

$font-size-small: 16px;
$font-size: 20px;

$section-padding: $base * 20;
$section-padding-mobile: $base * 5;
$header-padding-mobile: $base * 4;
$section-menu-margin: 220px;

$burger-height-mobile: $base * 8;
$header-height-mobile: $burger-height-mobile+$header-padding-mobile * 2;
$section-max-width: 1400px;

$nav-animation-default: 0.8s ease;

// ============= MIXINS ==========
@mixin mediaSmall {
  @media (max-width: $small-breakpoint) {
    @content;
  }
}

// ============= RESETS ==========
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

// ============= BASE ==========
.body {
  position: relative;
  background: url("./static/background.jpg");
  background-size: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: $font-size;
  color: $blue;

  @include mediaSmall {
    padding-top: $header-height-mobile;
  }
}

.section {
  min-height: 100vh;
  max-width: $section-max-width;
  margin-left: $section-menu-margin;
  padding: $section-padding $section-padding $section-padding/2;

  @media (min-width: #{$section-menu-margin*2 + $section-max-width}) {
    margin: 0 auto;
  }

  @include mediaSmall {
    margin: 0;
    padding: $section-padding-mobile;
    padding-top: $section-padding-mobile + $header-height-mobile;
    min-height: auto;
  }
}

.h2 {
  font-family: "Anton", sans-serif;
  font-size: $font-size * 3;

  @include mediaSmall {
    font-size: $font-size * 2;
  }
}

.button {
  border: none;
  outline: none;

  display: block;
  padding: $base*4 $base*6;
  border-radius: $border-radius;
  color: white;
  background: $blue;
  font-family: "Montserrat", sans-serif;
  font-size: $font-size-small;
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }
}

.link {
  text-decoration: none;

  &,
  &:active,
  &:visited {
    color: $blue;
  }

  &:hover {
    color: darken($blue, 20%);
  }
}

// ============= NAVIGATION ==========
.header {
  position: fixed;
  top: $section-padding;
  left: $section-padding;

  @include mediaSmall {
    top: 0;
    right: 0;
    left: 0;
    max-width: 100vw;
    padding: $header-padding-mobile;
    background: url("./static/background.jpg");
    border-bottom: 1px solid $blue;
    z-index: 10;
  }
}

.navigation {
  @include mediaSmall {
    display: none;
    height: 0;
    opacity: 0;

    .navigation__toggle:checked~& {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 0;
      opacity: 0;

      animation: navigationToggle $nav-animation-default;
      animation-fill-mode: forwards;
    }
  }
}

.navigation__toggle {
  display: none;
}

.navigation__burger {
  position: relative;
  display: none;
  cursor: pointer;

  @include mediaSmall {
    display: block;
    width: $base * 10;
    height: $burger-height-mobile;
  }
}

.navigation__burger__base {
  position: absolute;
  top: 0;
  transform-origin: left;
  transition: transform $nav-animation-default;

  &,
  &:before,
  &:after {
    width: 100%;
    height: $base * 2;
    border-radius: 2px;
    background: $blue;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    transform-origin: left;
    transition: transform $nav-animation-default, opacity $nav-animation-default;
  }

  &:before {
    top: $base * 3;
  }

  &:after {
    top: $base * 6;
  }

  .navigation__toggle:checked~.navigation__toggle__button & {
    & {
      transform: translateX(7px) translateY(25px) rotate(-45deg);
    }

    &::before {
      opacity: 0;
      transform: translateX(7px) translateY(-25px) rotate(45deg);
    }

    &::after {
      transform: translateX(20px) translateY(-44px) rotate(90deg);
    }
  }
}

.navigation__item {
  display: block;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 300ms ease-in;

  &+& {
    margin-top: $base * 2;
  }

  &,
  &:hover,
  &:active,
  &:visited {
    color: $blue;
  }

  &:hover,
  &:active {
    opacity: 1;
  }

  @include mediaSmall {
    font-size: $font-size * 1.5;
    margin-bottom: $base * 2;
  }
}

// ============= INTRO ==========
.section--intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: calc(100vh - #{$header-height-mobile});
  min-height: auto;

  @include mediaSmall {
    padding-top: $section-padding-mobile;
  }
}

.intro__title {
  width: 33%;
  max-width: 500px;

  @include mediaSmall {
    width: 60%;
  }
}

.intro__title__image {
  width: 100%;
}

.intro__blubo {
  width: 33%;
  max-width: 500px;

  @include mediaSmall {
    width: 80%;
  }
}

// ============= BOOK ==========
.book {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include mediaSmall {
    align-items: center;
  }
}

.book__image {
  align-self: flex-start;

  @include mediaSmall {
    align-self: auto;
    margin: $base * 10 0;
  }
}

.book__text {
  width: 80%;
}

// ============= BUY ==========
.buy__title {
  display: flex;
  justify-content: center;
  margin-bottom: $base * 15;
  font-family: "Anton", sans-serif;

  @include mediaSmall {
    margin-bottom: $base * 10;
  }
}

.buy__title__price {
  font-size: $font-size * 2;

  @include mediaSmall {
    font-size: $font-size * 1.5;
  }
}

.buy__payment {
  display: flex;

  @include mediaSmall {
    flex-direction: column;
  }
}

.buy__payment__image {
  margin-right: $base * 5;

  @include mediaSmall {
    margin-right: auto;
    margin: $base * 10 auto;
  }
}

.buy__payment__form {
  flex-shrink: 0;
  min-width: 70%;
}

.buy__payment__loading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: $base*4 auto;

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    border: 4px solid $blue;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
  }

  &::before {
    top: 30%;
    left: 30%;
    width: 40%;
    height: 40%;
    transform: rotate(0deg);
    animation: loadingRotation 1.5s linear;
    animation-iteration-count: infinite;
  }

  &::after {
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    transform: rotate(0deg);
    animation: loadingRotation 2s linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
  }
}

.buy__payment__ppp__loaded {
  border: 2px solid $blue;
  border-radius: $border-radius;
  background: $blue;
}

.buy__payment__warning {
  position: relative;
  margin-top: $base * 5;
  padding: $base*3 $base*4 $base*3 $base*12;
  border: 2px solid $orange;
  border-radius: $border-radius;
  text-align: center;
  font-size: $font-size-small;

  &::before {
    content: url('/static/danger.svg');
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: $base*3;
    color: $orange;
    width: $base * 6;
    height: $base * 6;
  }
}

.buy__payment__button {
  margin: $base*5 auto;
}

// ============= FOOTER ==========
.footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $section-padding/4 $section-padding;

  .footer__link+.footer__link {
    margin-left: $base * 2;
  }

  @include mediaSmall {
    position: relative;
    display: block;
    padding: $base * 5;
    text-align: center;
  }
}

.copy {
  @include mediaSmall {
    display: block;
    margin-bottom: $base * 2;
  }
}

// ======== Overriding Globals =======

.hidden {
  display: none;
}

// ============= @KEYFRAMES ==========
@keyframes navigationToggle {
  50% {
    height: calc(100vh - #{$header-height-mobile});
    opacity: 0;
  }

  to {
    height: calc(100vh - #{$header-height-mobile});
    opacity: 1;
  }
}

@keyframes loadingRotation {
  to {
    transform: rotate(360deg);
  }
}