*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html,
body {
  min-height: 100vh; }

.body {
  position: relative;
  background: url("./static/background.jpg");
  background-size: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #4255a2; }
  @media (max-width: 1024px) {
    .body {
      padding-top: 88px; } }

.section {
  min-height: 100vh;
  max-width: 1400px;
  margin-left: 220px;
  padding: 80px 80px 40px; }
  @media (min-width: 1840px) {
    .section {
      margin: 0 auto; } }
  @media (max-width: 1024px) {
    .section {
      margin: 0;
      padding: 20px; } }

.h2 {
  font-family: 'Anton', sans-serif;
  font-size: 60px; }

.link {
  text-decoration: none; }
  .link, .link:active, .link:visited {
    color: #4255a2; }
  .link:hover {
    color: #242f5a; }

.header {
  position: fixed;
  top: 80px;
  left: 80px; }
  @media (max-width: 1024px) {
    .header {
      top: 0;
      right: 0;
      left: 0;
      max-width: 100vw;
      padding: 16px;
      background: url("./static/background.jpg");
      border-bottom: 1px solid #4255a2; } }

@media (max-width: 1024px) {
  .navigation {
    display: none;
    height: 0;
    opacity: 0; }
    .navigation__toggle:checked + .navigation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 0;
      opacity: 0;
      animation: navigationToggle 800ms ease;
      animation-fill-mode: forwards; } }

.navigation__toggle {
  display: none; }

.navigation__burger {
  position: relative;
  display: none;
  cursor: pointer; }
  @media (max-width: 1024px) {
    .navigation__burger {
      display: block;
      width: 40px;
      height: 32px; } }

.navigation__burger__middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
  .navigation__burger__middle, .navigation__burger__middle:before, .navigation__burger__middle:after {
    width: 100%;
    height: 8px;
    border-radius: 2px;
    background: #4255a2; }
  .navigation__burger__middle:before, .navigation__burger__middle:after {
    content: '';
    position: absolute;
    display: block; }
  .navigation__burger__middle:before {
    top: -12px; }
  .navigation__burger__middle:after {
    bottom: -12px; }

.navigation__item {
  display: block;
  text-decoration: none;
  opacity: .5;
  transition: opacity 300ms ease-in; }
  .navigation__item + .navigation__item {
    margin-top: 8px; }
  .navigation__item, .navigation__item:hover, .navigation__item:active, .navigation__item:visited {
    color: #4255a2; }
  .navigation__item:hover, .navigation__item:active {
    opacity: 1; }

.section--intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.intro__title {
  width: 33%;
  max-width: 500px; }

.intro__title__image {
  width: 100%; }

.intro__blubo {
  width: 33%;
  max-width: 500px; }

.book {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.book__image {
  align-self: flex-start; }

.book__text {
  width: 80%; }

.buy__title {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  font-family: 'Anton', sans-serif; }

.buy__title__price {
  font-size: 40px; }

.buy__contact {
  display: flex; }

.buy__contact__image {
  margin-right: 20px; }

.buy__contact__form {
  flex-shrink: 0;
  min-width: 70%; }

.buy__contact__row {
  display: block;
  text-align: right; }
  .buy__contact__row + .buy__contact__row {
    margin-top: 16px; }

.buy__contact__row--textarea {
  display: flex;
  justify-content: flex-end; }

.buy__contact__label {
  cursor: pointer;
  margin-right: 8px; }

.buy__contact__input {
  width: 66%;
  padding: 8px 16px;
  outline: none;
  box-shadow: none;
  border: 1px solid #4255a2;
  background: none;
  font-size: 16px;
  color: #4255a2; }

.footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 80px; }
  .footer .footer__link + .footer__link {
    margin-left: 8px; }

@keyframes navigationToggle {
  50% {
    height: calc(100vh - 64px);
    opacity: 0; }
  to {
    height: calc(100vh - 64px);
    opacity: 1; } }
